.hero-section-container{
    
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    height: 90vh;
    background-color: black;
    padding: 10px 100px ;
    background-size: cover;
    justify-content: center;
  
 
  
}

.Text-container{

    margin:auto 0;
   
}

.heading-text{
   
   margin: 0;
    width: 485px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 40px;
    /* text-justify: start; */
    
   
    color: #CCCCCC;
}

.text-blue{

    
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
line-height: 70px;
margin-left: 10px;

text-transform: capitalize;

color: #66B8FF;

}
.Para-text{

    width: 40%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    text-align: justify;
    letter-spacing: 0.01rem;
    color: #9F9F9F;

}

.hero-img{

    /* height: 20%;
    width: 20%; */
    position: absolute;
width: 50%;
height: auto;
right: 40px;
/* left: 808px; */
top: 150px;

}

.hero-btn{
margin: 50px 0;
width: 288px;
height: 56px;
/* left: 128px;
top: 520px; */

background: linear-gradient(91.19deg, #0061FF 24.65%, #60EFFF 123.14%);
border-radius: 12px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 22px;
/* identical to box height, or 140% */


/* Gray/ 01 */

color: #EEEEEE;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}