
.dashboard-section {

    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* flex-direction: row-reverse; */
    height: 100vh;
    background: linear-gradient(142.29deg, #000000 7.86%, #010928 92.51%);
    padding: 10px 100px ;
    background-size: cover;
    justify-content: center;
  

}

.dashboard-section{
   display: flexbox;
  /* justify-content: center; */
  flex-direction:column;
  
 
}
.dashbord-text-section{

  flex-direction: column;

}
.dash-img{

  display: flexbox;
  position: absolute;
  width: 50%;
  height: auto;




}

.dashbord-heading{
  width: 280px;
  height: 45px;
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 45px;
color: #7F9AFD;

}

.dashbord-paragraph{
  width: 394px;
  height: 166px;
  left: 1016px;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 34px;
color: #C7C7C7;
}

