.Footer-section{

     display: flex;
   flex-direction: column;
    height: 100vh;
    
    
background: #0D1329;
    padding: 10px 100px ;
    background-size: cover;
    justify-content: center;
   
}

.up-foot{

    display: flex;
    justify-content: space-between;
    align-items: center;
    


}

.foot-title{
margin-bottom: 20px;
    
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
/* identical to box height */


color: #7F9AFD;
}

.foot-para{
    width: 401px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
text-align: justify;

color: #A3A3A3;
}

.contact-contain{

   justify-content: space-between;
}
.contact-title{

    /* margin-top: 0px; */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #7F9AFD;
}

.contact-detail{

margin-top: 20px;

    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */

color: #A3A3A3;

}
.mail-txt{
margin-bottom: 20px;
    width:182px;}

.add-text{

    width: 283px;
}



.privacy-title{
/* margin-top: 20px; */
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height */

/* text-align: right; */

color: #7F9AFD;

}

.privacy-detail{

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #A3A3A3;

}
.privacy-text{

    margin: 20px 0;
}

.term-text{

    margin-top: 20px;
}

.head-disclamer{
margin-top: 90px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height */


color: #7F9AFD;

}

.para-disclamer{

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 26px;
    /* or 221% */
    
    text-align: justify;
    letter-spacing: -0.02em;
    width: 93%;
    color: #A3A3A3;
}