.info-section-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding:  50px 100px ;
    background-size: cover;
  

}

.info-Text-container{
width: 40%;
    margin:auto 0;
    display: flex;
    align-items: flex-start;
}
.info-heading-text{
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 39px;
color: white;
background-color: black;
margin: 0;
padding-left: 100px;

}

.h1-text{
     width: 342px;
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 28px;
line-height: 36px;
color: #9747FF;
margin-bottom: 30px;
}

.p1-text{
     width: 748px;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18;
line-height: 25px;
color: #C7C7C7;

}


.info-img{
margin-left: auto;
padding-right: 50px;
width: 366px;
height: auto;



}